<!doctype html>
<html lang='en'>

<head>
    {{> title}}
    {{> style}}
</head>

<body>
    <div>
        {{#if type}}

        {{> virtuallist}}

        {{else}}

        {{> physicallist}}

        {{/if}}
    </div>
</body>

</html>