<!doctype html>
<html lang='en'>

<head>
    <title> Generated Performance Reports </title>
    {{> style}}
</head>

<body>
    <div>
        {{#if type}}

            {{> virtuallist}}
        
        {{else}}
        
            {{> physicallist}}
        
        {{/if}}
    </div>
</body>

</html>